{% extends "template.html" %}
{% block conteudo %}
    <a class="btn btn-primary" href="{{ url_for('novo') }}">Novo Jogo</a>
    <table class="table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Console</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
        {% for jogo in jogos %}
                        <tr>
                            <td>{{ jogo.nome }}</td>
                            <td>{{ jogo.categoria }}</td>
                            <td>{{ jogo.console }}</td>
                            <td>
                                <a href="{{ url_for('editar', id=jogo.id) }}">Editar</a>
                            </td>
                            <td>
                                <a href="{{ url_for('deletar', id=jogo.id) }}">Deletar</a>
                            </td>
                        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}